h2,h1{ 
    color: crimson; text-decoration:underline;
    }
p,h1,h2,li,td,label{ 
    font-style: italic;
    }
#banner{background-color: #e4d537;
    font-size: larger;
    text-align: center;
    padding: 10px;    
    }
#banner p{
    margin: 0px;
    }
#nav{background-color: rgb(1, 8, 6);
    padding: 20px;
    text-align: center;
    }
#nav a{
    color: aliceblue;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
    padding: 20px; 
    }

#nav a:hover{
    background-color: #ded35581;
    }
#body{ 

    padding: 20;

}
#footer{
    background-color: aliceblue;
    min-height: 100px;
    text-align: center;
    }
#footer a{
    color:#cb7f21;
}
#footer a:hover{
    background-color: aquamarine;
}
#body{
    
    margin: auto;
}