
h2,h1{ 
    color: crimson; text-decoration:underline;
    }
p,h1,h2,li,td,label{ 
    font-style: italic;
    }
#banner{background-color: #e4d537;
    font-size: larger;
    text-align: center;
    padding: 10px; 
       
    }
#banner p{
    margin: 0px;
    }
#nav{background-color: rgb(1, 8, 6);
    padding: 20px;
    text-align: center;
    }
#nav a{
    color: aliceblue;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
    padding: 20px; 
    }

#nav a:hover{
    background-color: #ded35581;
    }
#body{ 

    padding: 20;
    background-color: #fffff6;
}

#body{
    margin: auto;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #f5eb7a;
    border-color: black;
  }
tr{
    height:50px;

}

#footer{
background-color: black;
}

#footer a{
    background-color: rgb(0, 0, 0);
}
.footerContainer{
    background-color: #000000;
      width:100%;
    padding: 70px 30px 20px;
    max-height: 150px
}

.SocialIcons{
   background-color: #000000;
    display: flex;
    justify-content: center;
    
    }

.SocialIcons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    
}
.SocialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
.SocialIcons a i:hover{

    transition: 0.5s;
    background-color: white;
}

.footerNav{
    margin: 0px 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3em;
       opacity: 0.7;
     
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
     }

.footerNav ul li a{
    opacity: 1;
   transition: 0.5s;
   text-decoration: none;
   margin-right: 5px;
   margin: 3px;
   list-style:none ;
   color: white;
   font-style: normal;
   font-size: small;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footerNav ul li a:hover{
background-color:#ded35581;
opacity: 3;
color: white;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
    padding: 5px; 
}

.footerBottom{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
   
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
    font-style: normal;
} 
/*Careers Page*/
.job-list-container{
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
}
.job-list-container h2{
    font-size:30px;
    border-left: 4px solid #023047;
    padding-left: 20px;
}
.job-list-container .jobs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.job-list-container .jobs img{
    width: 80px;
}
.job-list-container .job{
    box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
    padding: 24px;
    border-radius: 16px;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
}
.job-list-container .job:hover{
    transform: scale(1.03);
}
.job-list-container .open-positions{
    position: absolute;
    top: 40px;
    bottom: 24px;
    color: orangered;
}
.job-list-container .job-title{
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    color: #023047;
}
.job-list-container .details{
    margin-top: 6px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: 1;
}
.job-list-container .details-btn{
    text-decoration: none;
    border: 1px solid #023047;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    transition: all 400ms ease;
}
.job-list-container .details-btn:hover{
    background: #023047;
    color: #fff;
}
@media (max-width:640px){
    .job-list-container .jobs{
        grid-template-columns: 1fr;
        max-width: 400px;
    }
}

/*Products page*/
.container{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* product section */
.products{
    background: var(--alice-blue);
    padding: 3.2rem 0;
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
}
.product-content{
    background: #fffff6;
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: 0.5s ease;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: var(--carribean-green);
    color: #fff;
}
.product-info{
    background: white;
    padding: 2rem;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: var(--carribean-green);
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

/* product collection */
.product-collection{
    padding: 3.2rem 0;
    
}
.product-collection-wrapper{
    padding: 3.2rem 0;
}
.product-col-left{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-1.jpg") center/cover no-repeat;
}
.product-col-r-top{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-2.png") center/cover no-repeat;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 2rem 1.5rem 3.2rem;
    margin: 5px;
}
.product-col-r-bottom > div:first-child{
    background: #eaa001;
}
.product-col-r-bottom > div:last-child{
    background: #0090ff;
}
.product-col-content{
    text-align: center;
    color: white;
}
.product-collection .text-light{
    opacity: 1;
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.7;
}
.btn-dark{
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1rem;
    font-family: inherit;
}
.btn-dark:hover{
    background: var(--carribean-green);
}

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #e8900b;
    --gray: #ededed;
}

