
h2,h1{ 
    color: crimson; text-decoration:underline;
    }
p,h1,h2,li,td,label{ 
    font-style: italic;
    }
#banner{background-color: #e4d537;
    font-size: larger;
    text-align: center;
    padding: 10px;    
    }
#banner p{
    margin: 0px;
    }
#nav{background-color: rgb(1, 8, 6);
    padding: 20px;
    text-align: center;
    }
#nav a{
    color: aliceblue;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
    padding: 20px; 
    }

#nav a:hover{
    background-color: #ded35581;
    }
#body{ 

    padding: 20;
    background-color: #fffff6;
}

#body{
    margin: auto;
}

#footer{
background-color: black;
}

#footer a{
    background-color: rgb(0, 0, 0);
}
.footerContainer{
    background-color: #000000;
      width:100%;
    padding: 70px 30px 20px;
    max-height: 150px
}

.SocialIcons{
   background-color: #000000;
    display: flex;
    justify-content: center;
    
    }

.SocialIcons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    
}
.SocialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
.SocialIcons a i:hover{

    transition: 0.5s;
    background-color: white;
}

.footerNav{
    margin: 0px 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3em;
       opacity: 0.7;
     
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
     }

.footerNav ul li a{
    opacity: 1;
   transition: 0.5s;
   text-decoration: none;
   margin-right: 5px;
   margin: 3px;
   list-style:none ;
   color: white;
   font-style: normal;
   font-size: small;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footerNav ul li a:hover{
background-color:#ded35581;
opacity: 3;
color: white;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
    padding: 5px; 
}

.footerBottom{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
   
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
    font-style: normal;
} 
/*Careers Page*/
.job-list-container{
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
}
.job-list-container h2{
    font-size:30px;
    border-left: 4px solid #023047;
    padding-left: 20px;
}
.job-list-container .jobs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.job-list-container .jobs img{
    width: 80px;
}
.job-list-container .job{
    box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
    padding: 24px;
    border-radius: 16px;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
}
.job-list-container .job:hover{
    transform: scale(1.03);
}
.job-list-container .open-positions{
    position: absolute;
    top: 40px;
    bottom: 24px;
    color: orangered;
}
.job-list-container .job-title{
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    color: #023047;
}
.job-list-container .details{
    margin-top: 6px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: 1;
}
.job-list-container .details-btn{
    text-decoration: none;
    border: 1px solid #023047;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    transition: all 400ms ease;
}
.job-list-container .details-btn:hover{
    background: #023047;
    color: #fff;
}
@media (max-width:640px){
    .job-list-container .jobs{
        grid-template-columns: 1fr;
        max-width: 400px;
    }
}