
h2,h1{ 
    color: crimson; text-decoration:underline;
    }
p,h1,h2,li,td,label{ 
    font-style: italic;
    }
#banner{background-color: #e4d537;
    font-size: larger;
    text-align: center;
    padding: 10px;    
    }
#banner p{
    margin: 0px;
    }
#nav{background-color: rgb(1, 8, 6);
    padding: 20px;
    text-align: center;
    }
#nav a{
    color: aliceblue;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
    padding: 20px; 
    }

#nav a:hover{
    background-color: #ded35581;
    }
#body{ 

    padding: 20;
}

#body{
    margin: auto;
}

#footer{
background-color: black;
}

#footer a{
    background-color: rgb(0, 0, 0);
}
.footerContainer{
    background-color: #000000;
      width:100%;
    padding: 70px 30px 20px;
    max-height: 150px
}

.SocialIcons{
   background-color: #000000;
    display: flex;
    justify-content: center;
    
    }

.SocialIcons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    
}
.SocialIcons a:hover{
    background-color: #ded35581;
    transition: 0.5s;
}
.SocialIcons a i:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    background-color: #ded35581;
}

.footerNav{
    margin: 5px 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3em;
       opacity: 0.7;
       
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
     }

.footerNav ul li a{
    opacity: 1;
   transition: 0.5s;
   text-decoration: none;
   margin-right: 10px;
   margin: 5px;
   list-style:none ;
   color: white;
   font-style: normal;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footerNav ul li a:hover{
background-color:#ded35581;
opacity: 3;
color: aliceblue;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-right: 10px;
    padding: 20px; 
}

.footerBottom{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
   
}
